/* Whole document */

body {
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
}

main {
    margin: 1.5em auto;
    max-width: 35em;
    padding: 0 1.5em;
}

.display-none {
    display: none;
}

h1 {
    font-weight: 700;
    font-size: 2em;
    line-height: 1.25;
}

p {
    line-height: 1.5;
}

h1, p {
    margin: 1rem 0;
}

button {
    font: inherit;
    color: #ffffff;

    margin: 0;
    padding: 0.125em;
    background-color: #58246f;

    border-style: solid;
    border-width: 0.125em;
    border-top-color: #77558d;
    border-right-color: #441e55;
    border-bottom-color: #3f114f;
    border-left-color: #663b7e;
    border-radius: 0.375em;
}

button:hover {
    background-color: #663b7e;
    border-top-color: #886699;
    border-right-color: #552f66;
    border-bottom-color: #4b2255;
    border-left-color: #774f8b;
    cursor: pointer;
}

/* Header */

header {
    padding: 0.5em;
}

#view-high-scores {
    color: #58246f;
}

#view-high-scores:hover {
    cursor: pointer;
}

#time {
    float: right;
}

/* Start Screen */

#start-screen {
    text-align: center;
}

/* Question View */

#question {
    font-size: 1.3em;
    font-weight: 700;
}

#answers li {
    margin: 0.125em 0;
}

/* Feedback */

#feedback {
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-weight: 500;
    color: #888888;

    margin: 1em 0;
    padding-top: 1em;

    border-top-width: 0.125em;
    border-style: solid;
    border-color: #bbbbbb;
}